<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <canvas id="viewer"></canvas>
    <div>
        <button id="startButton"></button>
    </div>
    <div>
        <input style="width: 200px" id="playbackrange" type="range" min="0" max="100" value="0" step="1">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="static/js/main.js"></script>
    <script type="text/javascript">
        const load = () => {
            const canvas = document.getElementById('viewer');
            const button = document.getElementById('startButton');
            const slider = document.getElementById('playbackrange');
            new Main(canvas, button, slider);
        }

        window.onload = load;
    </script>
</body>
</html>